{% extends 'master.html' %}
{% block body %}
<body>
    <div class="container">
        <br>
        <h1>Book List</h1>
        <hr>

        <form action="/update/{{books.id}}">
            {% csrf_token %}

        <label class="form-group" for="title">Title:</label>
        <input type="text" class="form-control" name= "title" 
        value="{{books.title}}" placeholder="{{books.title}}">

        
        <label class="form-group" for="price">Price:</label>
        <input type="text" class="form-control" name= "price"
         value="{{books.price}}"placeholder="{{books.price}}">
        

        <label class="form-group" for="author">Author:</label>
        <input type="text" class="form-control" name= "author"
         value="{{books.author}}" placeholder="{{books.author}}">
        <br>
        <button type="submit" class="btn btn-primary">update</button>
        
        
        </form>
    </div>
</body>
{% endblock %}